.Row {}

.Table td {}

tbody tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.Table tbody tr:hover {
    background-color: #f6f6f6;
}

.more-details-ul {
    width: fit-content;
    background-color: white;
    border-radius: 0.2rem;
    padding: 1rem;
}

.more-details-ul li {
    list-style: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: rgb(101, 94, 94);
}

.more-details-li__icon {
    font-size: 0.8rem;
}

.td-checkbox {
    width: 50px;
}

.show-details-box {
    width: 50px;
}

.inner-table {
    font-size: 0.9rem;
}

.inner-table th,
.inner-table td {
    padding: 0.3rem 0.5rem;
}

.inner-table th {
    background-color: white;
    text-align: left;
    border-top: solid #f6f6f6 0.01rem;
    border-left: solid #f6f6f6 0.1rem;
}

.inner-table td {
    border-top: solid #f6f6f6 0.01rem;
    border-left: solid #f6f6f6 0.01rem;
    border-right: solid #f6f6f6 0.1rem;
    background-color: white;
}

.inner-table tr:last-child th,
.inner-table tr:last-child td {
    border-bottom: solid #f6f6f6 0.1rem;
}

.inner-table tr:first-child th,
.inner-table tr:first-child td {
    border-top: solid #f6f6f6 0.1rem;
}