.Table {
    cursor: pointer;
    display: table;
    table-layout: fixed;
    max-width: 600%;
    border-spacing: 0;
}

.Table>tbody,
.Table>thead,
.Table>tfoot,
.Table>tbody>tr {
    width: 100%;
}

.Table>tbody {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.Table>tbody>tr,
.Table>thead>tr,
.Table>tfoot>tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.Table>thead>tr>th,
.Table>tbody>tr>td,
.Table>tfoot>tr>th {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-right: solid rgb(248, 243, 243) 0.01rem;
    border-bottom: 0.01rem solid rgba(146, 142, 142, 0.2);
}

.Table th {
    overflow: auto;
}

.Table .th-icons {
    height: 1rem;
    width: 1rem;
    padding-top: 0.2rem;
    display: block;
    float: left;
}

.Table .th-text {
    text-align: left;
}

.td-no-result {
    width: 100%;
    text-align: center;
    background-color: white;
}

.pointer {
    cursor: pointer;
}

.td-checkbox,
.td-deletion {
    text-align: center;
    color: var(--care-color);
}